# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.vscode/
.idea/

#CMAKE
cmake-build-debug

.bootstrap
.bootstrap/*

.cache
.chache/*

build/*
check.txt
*.pdf

tools/conan-venv/*
CMakeUserPresets.json

#MacOS
.DS_STORE

*.out
out
a.out
vgcore.*
